# Qudi configuration for testing Automated NV Center Finder
# Uses dummy hardware for testing without real instruments
#
# To use: update config/load.cfg to point to this file:
#   configfile: D:/qudi-working/qudi/config/auto_nv_finder_test.cfg

global:
    startup: ['man', 'tray']
    module_server:
        address: 'localhost'
        port: 12345
    stylesheet: 'qdark.qss'

hardware:
    nicard:
        module.Class: 'national_instruments_x_series.NationalInstrumentsXSeries'
        clock_channel: '/Dev1/Ctr0'
        counter_channels:
            - '/Dev1/Ctr1'
        scanner_clock_channel: '/Dev1/Ctr2'
        scanner_counter_channels:
            - '/Dev1/Ctr3'
        photon_sources:
            - '/Dev1/PFI3'
        scanner_ao_channels:
            - '/Dev1/AO0'
            - '/Dev1/AO1'
            - '/Dev1/AO2'
            - '/Dev1/AO3'
        scanner_position_ranges:
            - [0.1e-6, 200e-6]
            - [0.1e-6, 200e-6]
            - [0.1e-6, 200e-6]
            - [-10, 10]
        scanner_voltage_ranges:
            - [0.001, 10]
            - [0.001, 10]
            - [0.001, 10]
            - [0, 10]
        default_samples_number: 10
        default_clock_frequency: 500
        default_scanner_clock_frequency: 100
        gate_in_channel: '/Dev1/PFI0'
        counting_edge_rising: True
        odmr_trigger_channel: '/Dev1/PFI15'



logic:
    counterlogic:
        module.Class: 'counter_logic.CounterLogic'
        connect:
            counter1: 'nicard'
            savelogic: 'savelogic'
    scannerlogic:
        module.Class: 'confocal_logic.ConfocalLogic'
        connect:
            confocalscanner1: 'nicard'
            savelogic: 'savelogic'

    optimizerlogic:
        module.Class: 'optimizer_logic.OptimizerLogic'
        connect:
            confocalscanner1: 'nicard'
            fitlogic: 'fitlogic'

    poimanager:
        module.Class: 'poi_manager_logic.PoiManagerLogic'
        connect:
            scannerlogic: 'scannerlogic'
            optimiserlogic: 'optimizerlogic'
            savelogic: 'savelogic'

    fitlogic:
        module.Class: 'fit_logic.FitLogic'

    savelogic:
        module.Class: 'save_logic.SaveLogic'
        win_data_directory: 'C:/Data'
        log_into_daily_directory: True

    auto_nv_finder_logic:
        module.Class: 'auto_nv_finder_logic.AutoNVFinderLogic'
        remoteaccess: True
        connect:
            confocallogic: 'scannerlogic'
            optimizerlogic: 'optimizerlogic'
            poimanagerlogic: 'poimanagerlogic'
            fitlogic: 'fitlogic'

    nv_candidate_verifier:
        module.Class: 'nv_candidate_verifier.NVCandidateVerifier'
        remoteaccess: True
        connect:
            optimizerlogic: 'optimizerlogic'
            savelogic: 'savelogic'

    tasklogic:
        module.Class: 'taskrunner.TaskRunner'
        tasks:
            scannerLocationRefocus:
                module: 'refocus'
                pausetasks: ['scan']
                needsmodules:
                    optimizer: 'optimizerlogic'

gui:
    tray:
        module.Class: 'trayicon.TrayIcon'

    man:
        module.Class: 'manager.managergui.ManagerGui'

    counter:
        module.Class: 'counter.countergui.CounterGui'
        connect:
            counterlogic1: 'counterlogic'

    confocalgui:
        module.Class: 'confocal.confocalgui.ConfocalGui'
        connect:
            confocallogic1: 'scannerlogic'
            savelogic: 'savelogic'
            optimizerlogic1: 'optimizerlogic'
        fixed_aspect_ratio_xy: True
        fixed_aspect_ratio_depth: True
        slider_stepsize: 0.001  # in micrometer
        image_x_padding: 0.02
        image_y_padding: 0.02
        image_z_padding: 0.02

    poimanager:
        module.Class: 'poimanager.poimangui.PoiManagerGui'
        connect:
            poimanagerlogic: 'poimanager'
            scannerlogic: 'scannerlogic'
            auto_nv_finder: 'auto_nv_finder_logic'

    taskrunner:
        module.Class: 'taskrunner.taskgui.TaskGui'
        connect:
            tasklogic: 'tasklogic' #.runner?
