# Qudi configuration for testing Automated NV Center Finder
# Uses dummy hardware for testing without real instruments
#
# To use: update config/load.cfg to point to this file:
#   configfile: D:/qudi-working/qudi/config/auto_nv_finder_test.cfg

global:
    startup: ['man', 'tray']
    module_server:
        address: 'localhost'
        port: 12345
    stylesheet: 'qdark.qss'

hardware:
    nicard:
        module.Class: 'national_instruments_x_series.NationalInstrumentsXSeries'
        clock_channel: '/Dev1/Ctr0'
        counter_channels:
            - '/Dev1/Ctr1'
        scanner_clock_channel: '/Dev1/Ctr2'
        scanner_counter_channels:
            - '/Dev1/Ctr3'
        photon_sources:
            - '/Dev1/PFI3'
        scanner_ao_channels:
            - '/Dev1/AO0'
            - '/Dev1/AO1'
            - '/Dev1/AO2'
            - '/Dev1/AO3'
        scanner_position_ranges:
            - [0.1e-6, 200e-6]
            - [0.1e-6, 200e-6]
            - [0.1e-6, 200e-6]
            - [-10, 10]
        scanner_voltage_ranges:
            - [0.001, 10]
            - [0.001, 10]
            - [0.001, 10]
            - [0, 10]
        default_samples_number: 10
        default_clock_frequency: 500
        default_scanner_clock_frequency: 100
        gate_in_channel: '/Dev1/PFI0'
        counting_edge_rising: True
        odmr_trigger_channel: '/Dev1/PFI15'

    microwave_dummy:
        module.Class: 'microwave.mw_source_dummy.MicrowaveDummy'
        gpib_address: 'dummy'
        gpib_timeout: 20

    NIFastcounter:
        module.Class: 'fast_counter_dummy.FastCounterDummy'
        #load_trace: None # path to the saved dummy trace

        #module.Class: 'NICumulative_fastcounter_1.NIFastCounter'
        #PD_Channel: '/Dev1/PFI3' #'/Dev1/PFI8' # photon counter channel  #/Dev1/PFI3 is the physical photon counting channel in simultaneous_analysis.py
        #Clock_Channel: "/Dev1/Ctr1" #'/Dev1/Ctr2' ##"/Dev1/ctr1" is the counter channel in simultaneous_analysis.py ###But here its the base clock that sets the "bin width"/clock cycle
        #Digital_Channel: '/Dev1/PFI0' # sync counter channel  #'/Dev1/PFI0' is the sync channel in simultaneous_analysis.py btw (though the method of counting is different)
        #contrast_based_Aquisition: True

    PulseBlaster:
        module.Class: 'pulser_dummy.PulserDummy'
            #module.Class: 'spincore.pulse_blaster_esrpro.PulseBlasterESRPRO'
            #clock_frequency: 500e6 # in Hz
            #min_instr_len: 5    # number of clock cycles for minimal instruction
            #debug_mode: False   # optional, to set the debug mode on or off.
            #use_smart_pulse_creation: False # optional, default is false, try to
                                            # optimize the memory used on the device.
            #library_file: 'spinapi64.dll'  # optional, name of the library file
                                            # or  whole path to the file

logic:
    counterlogic:
        module.Class: 'counter_logic.CounterLogic'
        connect:
            counter1: 'nicard'
            savelogic: 'savelogic'
    scannerlogic:
        module.Class: 'confocal_logic.ConfocalLogic'
        connect:
            confocalscanner1: 'nicard'
            savelogic: 'savelogic'

    optimizerlogic:
        module.Class: 'optimizer_logic.OptimizerLogic'
        connect:
            confocalscanner1: 'nicard'
            fitlogic: 'fitlogic'

    poimanagerlogic:
        module.Class: 'poi_manager_logic.PoiManagerLogic'
        connect:
            scannerlogic: 'scannerlogic'
            optimiserlogic: 'optimizerlogic'
            savelogic: 'savelogic'

    fitlogic:
        module.Class: 'fit_logic.FitLogic'

    savelogic:
        module.Class: 'save_logic.SaveLogic'
        win_data_directory: 'C:/Data'
        log_into_daily_directory: True


    multi_scale_auto_nv_finder:
        module.Class: 'multi_scale_auto_nv_finder_logic.MultiScaleAutoNVFinderLogic'
        remoteaccess: True
        # Experiment loop parameters
        target_cells: 5
        target_nvs_per_cell: 3
        poi_non_repetition_radius_m: 1.0e-6
        max_rescans_per_cell: 3
        enable_pulsed_measurement: False    # Set True when pulsed hardware ready
        measurement_ensemble_name: ''       # e.g. 'T1_measurement'
        laser_pulse_ensemble_name: ''       # e.g. 'laser_pulse_532nm'
        z_scan_range_m: 5.0e-6
        z_depth_from_surface_m: 2.0e-6
        connect:
            confocallogic: 'scannerlogic'
            nvcandidateverifier: 'nv_candidate_verifier'
            pulsedmeasurementexecutor: 'pulsed_measurement_executor'
            poimanagerlogic: 'poimanagerlogic'
            savelogic: 'savelogic'

    nv_candidate_verifier:
        module.Class: 'nv_candidate_verifier.NVCandidateVerifier'
        remoteaccess: True
        operating_mode: 'hybrid'     # 'diagnostic', 'hybrid', or 'production'
        auto_register_poi: True
        connect:
            optimizerlogic: 'optimizerlogic'
            savelogic: 'savelogic'
            poimanagerlogic: 'poimanagerlogic'

    pulsed_measurement_executor:
        module.Class: 'pulsed_measurement_executor.PulsedMeasurementExecutor'
        measurement_ensemble_name: ''       # Set to T1/ODMR ensemble name
        laser_pulse_ensemble_name: ''       # Set to laser re-pump name
        measurement_timeout_s: 900.0        # 15 min safety timeout
        post_measurement_settle_s: 2.0
        save_tag_prefix: 'auto_nv'
        connect:
            pulsedmasterlogic: 'pulsedmasterlogic'
        # NOTE: Uncomment pulsedmasterlogic connection when pulsed hardware
        # is configured. Add a pulsedmasterlogic block to the logic section.
        # See config/example/ for pulsed hardware config templates.

    tasklogic:
        module.Class: 'taskrunner.TaskRunner'
        tasks:
            scannerLocationRefocus:
                module: 'refocus'
                pausetasks: ['scan']
                needsmodules:
                    optimizer: 'optimizerlogic'

            multi_scale_auto_nv_find:
                module: 'multi_scale_auto_nv_find'
                pausetasks: ['scan']
                needsmodules:
                    multi_scale_auto_nv_finder: 'multi_scale_auto_nv_finder'

    pulsedmasterlogic:
        module.Class: 'pulsed.pulsed_master_logic.PulsedMasterLogic'
        connect:
            pulsedmeasurementlogic: 'pulsedmeasurementlogic'
            sequencegeneratorlogic: 'sequencegeneratorlogic'

    sequencegeneratorlogic:
        module.Class: 'pulsed.sequence_generator_logic.SequenceGeneratorLogic'
        #assets_storage_path: 'C:/Users/<username>/saved_pulsed_assets'
        #additional_predefined_methods_path: 'C:\\Custom_dir'  # optional, can also be lists on several folders
        #additional_sampling_functions_path: 'C:\\Custom_dir'  # optional, can also be lists on several folders
        #overhead_bytes: 4294967296  # Not properly implemented yet
        connect:
            pulsegenerator: 'PulseBlaster'

    pulsedmeasurementlogic:
        module.Class: 'pulsed.pulsed_measurement_logic.PulsedMeasurementLogic' #jss" take care to replace with _CHANGED
        raw_data_save_type: 'text'  # optional
        #additional_extraction_path: 'C:\\Custom_dir\\Methods'  # optional
        #additional_analysis_path: 'C:\\Custom_dir\\Methods'  # optional
        connect:
            fastcounter: 'NIFastcounter'
            pulsegenerator: 'PulseBlaster'
            fitlogic: 'fitlogic'
            savelogic: 'savelogic'
            microwave: 'microwave_dummy'

gui:
    tray:
        module.Class: 'trayicon.TrayIcon'

    man:
        module.Class: 'manager.managergui.ManagerGui'

    counter:
        module.Class: 'counter.countergui.CounterGui'
        connect:
            counterlogic1: 'counterlogic'

    confocalgui:
        module.Class: 'confocal.confocalgui.ConfocalGui'
        connect:
            confocallogic1: 'scannerlogic'
            savelogic: 'savelogic'
            optimizerlogic1: 'optimizerlogic'
        fixed_aspect_ratio_xy: True
        fixed_aspect_ratio_depth: True
        slider_stepsize: 0.001  # in micrometer
        image_x_padding: 0.02
        image_y_padding: 0.02
        image_z_padding: 0.02

    poimanager:
        module.Class: 'poimanager.poimangui.PoiManagerGui'
        connect:
            poimanagerlogic: 'poimanagerlogic'
            scannerlogic: 'scannerlogic'
            multi_scale_auto_nv_finder: 'multi_scale_auto_nv_finder'

    taskrunner:
        module.Class: 'taskrunner.taskgui.TaskGui'
        connect:
            tasklogic: 'tasklogic' #.runner?

    pulsedmeasurement:
        module.Class: 'pulsed.pulsed_maingui.PulsedMeasurementGui'
        connect:
            pulsedmasterlogic: 'pulsedmasterlogic'