# Qudi configuration for testing Automated NV Center Finder
# Uses dummy hardware for testing without real instruments
#
# To use: update config/load.cfg to point to this file:
#   configfile: D:/qudi-working/qudi/config/auto_nv_finder_test.cfg

global:
    startup: ['man', 'tray']
    module_server:
        address: 'localhost'
        port: 12345
    stylesheet: 'qdark.qss'

hardware:
    mydummyscanner:
        module.Class: 'confocal_scanner_dummy.ConfocalScannerDummy'
        clock_frequency: 100
        connect:
            fitlogic: 'fitlogic'

logic:
    scannerlogic:
        module.Class: 'confocal_logic.ConfocalLogic'
        remoteaccess: True
        connect:
            confocalscanner1: 'scanner_tilt_interfuse'
            savelogic: 'savelogic'

    scanner_tilt_interfuse:
        module.Class: 'interfuse.scanner_tilt_interfuse.ScannerTiltInterfuse'
        connect:
            confocalscanner1: 'mydummyscanner'

    optimizerlogic:
        module.Class: 'optimizer_logic.OptimizerLogic'
        connect:
            confocalscanner1: 'scanner_tilt_interfuse'
            fitlogic: 'fitlogic'

    poimanagerlogic:
        module.Class: 'poi_manager_logic.PoiManagerLogic'
        remoteaccess: True
        connect:
            scannerlogic: 'scannerlogic'
            optimiserlogic: 'optimizerlogic'
            savelogic: 'savelogic'

    fitlogic:
        module.Class: 'fit_logic.FitLogic'

    savelogic:
        module.Class: 'save_logic.SaveLogic'
        win_data_directory: 'C:/Data'
        log_into_daily_directory: True

    auto_nv_finder_logic:
        module.Class: 'auto_nv_finder_logic.AutoNVFinderLogic'
        remoteaccess: True
        connect:
            confocallogic: 'scannerlogic'
            optimizerlogic: 'optimizerlogic'
            poimanagerlogic: 'poimanagerlogic'
            fitlogic: 'fitlogic'

    nv_candidate_verifier:
        module.Class: 'nv_candidate_verifier.NVCandidateVerifier'
        remoteaccess: True
        connect:
            optimizerlogic: 'optimizerlogic'
            savelogic: 'savelogic'

    tasklogic:
        module.Class: 'taskrunner.TaskRunner'
        tasks:
            scannerLocationRefocus:
                module: 'refocus'
                pausetasks: ['scan']
                needsmodules:
                    optimizer: 'optimizerlogic'

gui:
    tray:
        module.Class: 'trayicon.TrayIcon'

    man:
        module.Class: 'manager.managergui.ManagerGui'

    confocal:
        module.Class: 'confocal.confocalgui.ConfocalGui'
        connect:
            confocallogic1: 'scannerlogic'
            savelogic: 'savelogic'
            optimizerlogic1: 'optimizerlogic'
        fixed_aspect_ratio_xy: True
        fixed_aspect_ratio_depth: True
        slider_stepsize: 0.001
        image_x_padding: 0.02
        image_y_padding: 0.02
        image_z_padding: 0.02
        default_meter_prefix: 'u'

    poimanager:
        module.Class: 'poimanager.poimangui.PoiManagerGui'
        connect:
            poimanagerlogic: 'poimanagerlogic'
            scannerlogic: 'scannerlogic'
            auto_nv_finder: 'auto_nv_finder_logic'

    taskrunner:
        module.Class: 'taskrunner.taskgui.TaskGui'
        connect:
            tasklogic: 'tasklogic'
